.img {
  width: 10px;
  margin-right: 12px;
}

.folderIcon {
  width: 21px;
  margin-right: 12px;
  padding: 6px;
  border-radius: 0px;
}

.editimg,
.removeimg {
  width: 21px;
  margin-right: 12px;
  border-radius: 0px;
  padding: 0px;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:active {
  background-color: #c0c0c0;
  background-size: 100%;
  transition: background 0s;
}

.disabled {
  filter: opacity(0.2);
}
