@import "./icon.css";

ul,
#yet-myUL {
  list-style-type: none;
  font-family: inherit;
}
#yet-myUL {
  background: #fafafa;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  margin: 0;
  padding: 12px;
}

.li:hover {
  cursor: pointer;
  background-color: #c0c0c020;
}

.li {
  font-family: inherit;
  padding: 12px;
  display: flex;
  align-items: center;
}

.yet-caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.yet-caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.yet-caret-down::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.yet-nested {
  display: none;
}

.yet-active {
  display: block;
}

.yet-count {
  padding-left: 12px;
}
