.ul {
  list-style-type: none;
  font-family: inherit;
}

.yetMyUL {
  background: #fafafa;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  margin: 0;
  padding: 12px;
}

.li {
  font-family: inherit;
  display: flex;
  align-items: center;
}

.li:hover {
  cursor: pointer;
  background-color: #c0c0c020;
}

.li:hover .edit,
.li:hover .remove {
  display: block !important;
}

.yetCaret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.yetCaret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.yetCaret-down::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.yetNested {
  display: none;
}

.yetActive {
  display: block;
}

.yetCount {
  padding-left: 12px;
}

.input {
  height: 21px;
  font-weight: 400;
  padding: 6px;
  width: calc(100% - 16px);
  font-size: 14px;
}

.button {
  display: block;
  width: 100%;
  border: none;
  background-color: #e9f1f9;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
